.listItems {
  width: 100%;
  padding-left: 31px;
  padding-top: 29px;
  overflow: hidden;
}

.contentItem {
  width: 170px;
  float: left;
  padding-left: 7px;
  padding-top: 7px;
  padding-right: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.rowContentItems {
  overflow: hidden;
}

.item {
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 168px;
  padding-top: 9px;
  height: 216px;
}

.itemThumbPic {
  width: 100%;
  height: 150px;
  text-align: center;
  display: inline-table;
}

.itemThumbPicVertical {
  display: table-cell;
  vertical-align: middle;
}

.itemThumbPicVertical img {
  max-width: 135px;
  max-height: 150px;
}

.itemThumbPic img {
  border: 0;
}

.itemName {
  width: 100%;
  padding-left: 6px;
  padding-top: 7px;
  overflow: hidden;
}

.itemName span {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: bold;
  line-height: 12px;
  display: block;
  padding-right: 12px;
  word-wrap: break-word;
}

.itemPrice {
  width: 100%;
  height: 15px;
  padding-left: 6px;
  padding-top: 7px;
  padding-bottom: 2px;
  overflow: hidden;
}

.itemPrice span {
  font-family: Verdana;
  font-size: 7pt;
  color: black;
  font-weight: normal;
  display: block;
}

.countAll {
  height: 100%;
  width: 780px;
  overflow: hidden;
}

.countAll p {
  float: right;
  font-family: Verdana;
  font-size: 7pt;
  color: black;
  font-weight: normal;
  width: 100%;
  text-align: right;
  margin-right: 6px;
  margin-top: 12px;
  margin-bottom: 6px;
}

.noselected {
  font-family: Verdana;
  font-size: 8pt;
  color: gray;
  font-weight: normal;
}

a.noselected {
  text-decoration: none;
}

a.selected {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.typeSort {
  float: left;
  margin-left: 20px;
  margin-top: 4px;
}

.paginatorTop {
  width: 780px;
  overflow: hidden;
}

.titlePaginator {
  float: left;
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: normal;
  margin-left: 27px;
  margin-top: 4px;
}

.numberPaginator {
  float: right;
  padding-top: 1px;
  padding-right: 1px;
}

.left {
  float: left;
}

span.numberPaginator a,
div.paginatorBottom a {
  float: left;
  font-family: Verdana;
  font-size: 10pt;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

span.numberPaginator a:link,
div.paginatorBottom a:link,
div.contentItem a:link {
  text-decoration: none;
}

span.numberPaginator a:hover,
span.numberPaginator a.current,
div.paginatorBottom a:hover,
div.paginatorBottom a.current {
  font-size: 14pt;
  font-weight: bold;
  margin-top: -4px;
}

span.numberPaginator a:visited,
div.paginatorBottom a:visited,
div.contentItem a:visited {
  text-decoration: none;
}

.paginatorBottom {
  float: right;
  padding-top: 52px;
  padding-right: 55px;
}

.footerListItems {
  margin-top: 46px;
  margin-left: 56px;
}

.footerListItems a {
  text-decoration: none;
}

hr.clear {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.imageFooter {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 33px;
  padding-bottom: 5px;
}

.footerText {
  margin-left: 32px;
  margin-top: 68px;
  margin-bottom: 40px;
  font-family: Tahoma;
  color: gray;
  font-size: x-small;
  line-height: 11px;
  margin-right: 40px;
  height: 670px;
}

.overDivItem {
  background-color: #eaeaea;
}


/***************************************** Products Detail *****************************************/

.all {
  width: 709px;
  padding-left: 25px;
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 32px;
  margin-top: 8px;
}

.allImg {
  width: 750px;
  padding: 5px;
}

.allError {
  width: 750px;
  padding: 5px;
  text-align: center;
}

.allError p {}

.allImg img {
  width: 100%;
}

.linkButton {
  float: right;
  width: 132px;
}

.emailImg {
  content: url(../images/buttons/emailaction.png);
}

.emailImgHover {
  content: url(../images/buttons/emailaction_hover.png) !important;
}

.printImg {
  content: url(../images/buttons/printaction.png);
}

.printImgHover {
  content: url(../images/buttons/printaction_hover.png) !important;
}

.itemText {
  float: left;
  width: 415px;
  margin-top: 40px;
}

.itemImg {
  float: right;
  width: 283px;
  margin-top: 12px;
}

.itemImg a {
  display: block;
}

.itemImg a img {
  max-width: 257px;
}

.titleText {
  font-family: Verdana;
  font-size: 11pt;
  color: black;
  font-weight: bold;
  margin-bottom: 18px;
}

.bodyText {
  margin-left: 5px;
}

.bodyText div {
  overflow: hidden;
}

.bodyText div p {
  margin-top: 6px;
  margin-bottom: 9px;
  line-height: 12px;
}

.bodyText div p {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: normal;
  float: left;
  width: 260px;
}

.bodyText div p.bold {
  font-weight: bold;
  width: 103px;
  float: left;
}

.imgGlass {
  float: right;
  margin-top: 20px;
  margin-right: 18px;
}

.itemTableType {
  padding-left: 8px;
  width: 150px;
  float: left;
  height: 18px;
}

.itemTableType p {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: bold;
  margin-top: 0px;
}

.itemTableValue {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: normal;
  text-align: center;
  width: 75px;
  float: left;
  height: 18px;
}

.itemTableValue p {
  margin-top: 2px;
}

.colorwhiteSmoke {}

.footerItemTable {
  margin-left: 0px;
  margin-top: 25px;
}

.footerItemTable div.rowTableTop {
  float: left;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #EAEAEA;
  height: 16px;
}

.footerItemTable div.rowTableBottom {
  float: left;
  clear: left;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 16px;
}

p.comment {
  font-family: Verdana;
  font-size: 7pt;
  color: black;
  font-weight: normal;
  margin-left: 0px;
  margin-top: 0px;
}

.footerInputs {
  margin-top: 50px;
  height: 70px;
}

.footerInputs img {
  float: left;
  margin-right: 14px;
}

.footerInputs img.right {
  float: right;
}


/***************************************** Cart Empty *****************************************/

.contentCarEmpty {
  padding-left: 32px;
  padding-top: 8px;
  width: 735px;
  height: 50px;
}

.cartEmptyRow1 {
  width: 100%;
  height: 50px;
}

.row1-1 {
  float: left;
}

.row1-2 {
  float: left;
  font-family: Verdana;
  font-size: 10pt;
  color: red;
  font-weight: bold;
  margin-left: 9px;
  margin-top: 2px;
}

.cartEmptyRow2 {
  width: 100%
}

.cartEmptyRow2 p {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: normal;
  margin-top: 12px;
}

.cartEmptyRow3 {
  width: 100%
}

.cartEmptyRow3 p {
  border: 1px solid red;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: Verdana;
  color: white;
  font-weight: bold;
  font-size: small;
  background-color: red;
  padding-left: 5px;
  margin-top: 0px;
  height: 20px;
}

.cartEmptyRow4 {
  width: 100%;
  padding-left: 153px;
  overflow: hidden;
}

.cartEmptyRow4 p {
  border: 1px solid red;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: normal;
  width: 416px;
  padding-top: 6px;
  padding-left: 11px;
  background-color: #EAEAEA;
  padding-bottom: 6px;
}

.cartEmptyRow5 {
  width: 100%;
  padding-left: 300px;
  padding-top: 8px;
}

.cartEmptyRow6 {
  width: 100%
}

.ajustRow6 {
  margin-left: 0px;
  margin-top: 90px;
}


/***************************************** Search *****************************************/

.allSearch {
  padding-top: 6px;
  padding-left: 20px;
}

.imgPhone {
  width: 780px;
  height: 40px;
}

.contImgPhone {
  height: 60px;
}

.searchRow2 p {
  font-family: Verdana;
  font-size: 9pt;
  color: black;
  font-weight: normal;
}

.searchRow3 {
  margin-top: 30px;
  margin-left: 240px;
}

.textSearch {
  vertical-align: top;
  margin-top: 18px;
}

#form-search {
  display: inline;
}


/***********************************Override style.css***************************************/

#search-button {
  background-repeat: no-repeat;
  float: left;
  height: 30px;
  width: 75px;
  background-position: right top;
  background-color: #FFF;
  margin: 0px;
  padding: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  background-image: url(../images/go2.png);
}

#search-button:hover {
  background-position: right bottom;
}


/***************************************** Add Cart *****************************************/

.addCart {
  padding-left: 32px;
  margin-top: -5px;
}

.addCartRow1 {
  width: 737px;
  height: 50px;
}

.addCartRow1 img {
  float: left;
}

.addCartRow1 p {
  font-family: Verdana;
  font-size: 10pt;
  color: red;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 59px;
}

.addCartRow2 {
  padding-top: 14px;
  height: 82px;
  padding-left: 20px;
  padding-bottom: 8px;
}

.tableAddCartRow {
  height: 18px;
  width: 728px;
  float: left;
}

.tableAddCartCol {
  height: 30px;
  float: left;
}

.textTable,
p.textTable {
  font-family: Verdana;
  font-size: 9pt;
  color: black;
  width: 90px;
  margin-top: 0px;
  margin-bottom: 2px;
}

.bold {
  font-weight: bold;
  width: 126px!important;
}

.addCartRow3 {
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 730px;
  padding-left: 7px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.addCartRow3 p {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0px;
  margin-right: 5px;
}

.addCartRow4 {}

.addCartRow4 p {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: normal;
}

.addCartRow4 p.titleAdd {
  font-family: Verdana;
  font-size: 11pt;
  color: red;
  font-weight: bold;
}

.addCartRow5 {
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #F5F5F5;
  width: 735px;
}

.contentTableAddCart {
  padding-bottom: 5px;
}

.tableAddCartRow2 {
  overflow: hidden;
}

.tableAddCartCo2 {
  height: 30px;
  width: 285px;
  float: left;
}

.floatAddLeft {
  float: left;
}

.tableAddCartCo2 p {
  font-family: Verdana;
  font-size: 9pt;
  color: black;
  font-weight: normal;
  margin-top: 7px;
  margin-left: 13px;
}

.tableAddCartCo2 input,
.tableAddCartCo2 select {
  margin-top: 5px;
}

.addCartRow6 {
  width: 730px;
}

.addCartRow6 p {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: normal;
}

.addCartRow6 p.titleAdd {
  font-family: Verdana;
  font-size: 11pt;
  color: red;
  font-weight: bold;
}

.addCartRow7 {
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #F5F5F5;
  width: 735px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.addCartRow8 {}

.addCartRow8 p {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: normal;
}

.addCartRow8 p.titleAdd {
  font-family: Verdana;
  font-size: 11pt;
  color: red;
  font-weight: bold;
}

.addCartRow9 {
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #F5F5F5;
  width: 716px;
  padding-top: 4px;
  padding-left: 20px;
  padding-bottom: 4px;
  overflow: hidden;
}

.contentTableAddCart2 {}

.tableAddCartCo3 {}

.addCartRow10 {
  padding-top: 30px;
}

.addCartRow10 p {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: normal;
}

.addCartRow11 {
  padding-top: 10px;
  padding-left: 220px;
}

.addCartRow11 img {
  padding-right: 60px;
}

.addCartRow12 {
  padding-top: 90px;
}

.addCartRow12 p {
  font-family: Tahoma;
  color: gray;
  font-size: x-small;
}

.ajusTableAdd1 {
  height: 102px;
}

.ajusTableAdd2 {
  padding-left: 70px;
}

.ajusTableAdd3 {
  width: 600px !important;
}


/***************************************** List Items Cart *****************************************/

.listItemsCart {}

.listItemsCart p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.contentItemCart {
  width: 740px;
  overflow: hidden;
}

.tableItemCars {
  border: 1px solid black;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 14px;
  width: 736px;
  overflow: hidden;
}

.Co1ItemCars {
  float: left;
  width: 597px;
}

.infoItemCars {
  width: 597px;
  overflow: hidden;
  border-right: 1px solid black;
}

.infoP1 {}

.infoP1 p {
  font-family: Verdana;
  font-size: 10pt;
  color: black;
  font-weight: bold;
  margin-left: 6px;
  padding-bottom: 10px;
}

.infoP2 {}

.infoP2-1-1 {}

.infoP2-1-1 p,
.infoP2-2-1 p,
.infoP3 p,
.infoP4-1-1 p,
.infoP4-2-1 p {
  font-family: Verdana;
  font-size: 7pt;
  color: black;
  font-weight: bold;
  vertical-align: top;
  margin-left: 6px;
  width: 116px;
}

.infoP2-1-2 {}

.infoP2-1-2 p,
.infoP4-1-2 p,
.infoP4-1-3 p,
.infoP4-1-4 p,
.infoP4-2-2 p {
  font-family: Verdana;
  font-size: 7pt;
  color: black;
  font-weight: normal;
}

.infoP2-1-2 p {
  margin-left: 122px;
}

.infoP2-1-1 p,
.infoP2-2-1 p,
.infoP4-1-1 p,
.infoP4-1-2 p,
.infoP4-1-3 p,
.infoP4-2-1 p {
  float: left;
}

.infoP2-2-1 {}

.infoP2-1-2 {}

.infoP3 {}

.infoP4 {}

.infoP4-1-1 {}

.infoP4-1-2 p,
.infoP4-1-3 p {
  width: 145px;
}

.infoP4-2-1 {}

.infoP4-2-2 {}

.linkItems {
  background-color: #EAEAEA;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  width: 597px;
  height: 17px;
  overflow: hidden;
  border-right: 1px solid;
}

.linkItems img,
.linkItems p {
  float: left;
}

.linkItems img {
  margin-left: 10px;
  margin-right: 11px;
  margin-top: 3px;
}

.linkItems p {
  margin-right: 15px;
  margin-top: 1px;
}

.linkItems p {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: normal;
  text-decoration: none;
}

.Co2ItemCars {
  float: right;
  width: 138px;
  height: 124px;
  border-left: 1px solid black;
}

.Co2ItemCars img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 9px;
}

.linkItemCars {
  margin-left: 170px;
  margin-top: 20px;
}

.linkItemCars a {
  text-decoration: none;
}

.values {
  font-family: Verdana;
  font-size: 9pt;
  color: black;
  font-weight: normal;
  text-align: right;
  margin-right: 10px;
  overflow: hidden;
  padding-top: 12px;
}


/***************************************** Checkout Cart *****************************************/

.allCheck {
  padding-left: 30px;
  padding-top: 15px;
}

.allCheck p {
  font-family: Verdana;
  font-size: 8pt;
  color: black;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

.allCheck hr {
  border-color: red;
  width: 100%;
  margin-top: 12px;
}

.checkRow1 {
  overflow: hidden;
}

.checkRow1 img {
  float: left;
}

.checkRow1 p {
  font-family: Verdana;
  color: red;
  font-weight: bold;
  font-size: large;
  float: left;
  padding-left: 14px;
}

.checkRow2 {
  overflow: hidden;
  padding-bottom: 10px;
}

.checkSec1 {}

.checkTable1 {
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #EAEAEA;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.checkTable1 p,
.checkTable2 p,
.checkTable3 p {
  float: left;
  width: 142px;
  margin-left: 15px;
  margin-top: 5px;
}

.Table1-1-1 {}

.Table1-1-2 {}

.Table1-2-1 {}

.Table1-2-2 {}

.Table1-3-1 {}

.Table1-3-2 {
  float: left;
}

.Table1-3-3 {}

.Table1-3-3 p,
.Table2-7-3 p,
.Table3-7-3 p {
  width: 8px;
}

.Table1-3-4 {}

.Table1-4-1 {}

.Table1-4-2 {}

.checkSec2 {}

.checkTable2 {
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #EAEAEA;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.Table2-1-1 {}

.Table2-1-2 {}

.Table2-2-1 {}

.Table2-2-2 {}

.Table2-3-1 {}

.Table2-3-2 {}

.Table2-4-1 {}

.Table2-4-2 {}

.Table2-5-1 {}

.Table2-5-2 {
  float: left;
}

.Table2-5-3 p {
  width: 88px;
}

.Table2-5-4 {}

.Table2-6-1 {}

.Table2-6-2 {}

.Table2-7-1 {}

.Table2-7-2 {
  float: left;
}

.Table2-7-3 {}

.Table2-7-4 {}

.Table2-8-1 {}

.Table2-8-2 {}

.Table2-9-1 {}

.Table2-9-2 {}

.checkSec3 {}

.checkTable3 {
  border: 1px solid black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #EAEAEA;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.Table3-1-1 {}

.Table3-1-2 {}

.Table3-2-1 {}

.Table3-2-2 {}

.Table3-3-1 {}

.Table3-3-2 {}

.Table3-4-1 {}

.Table3-4-2 {}

.Table3-5-1 {}

.Table3-5-2 {
  float: left;
}

.Table3-5-3 p {
  width: 88px;
}

.Table3-5-4 {}

.Table3-6-1 {}

.Table3-6-2 {}

.Table3-7-1 {}

.Table3-7-2 {
  float: left;
}

.Table3-7-3 {}

.Table3-7-4 {}

.Table3-8-1 p {
  margin-top: 10px;
}

.Table3-8-2 {}

.checkSec4 {
  height: 150px;
  padding-top: 40px;
  padding-left: 195px;
}

.checkSec4 a {
  text-decoration: none;
}

.checkSec5 {}

.checkSec5 p {
  font-family: Tahoma;
  color: gray;
  font-size: x-small;
}

.titleRed {
  font-family: Verdana !important;
  font-size: 9pt !important;
  color: red !important;
  font-weight: bold !important;
  width: 736px;
  height: 32px;
  padding-top: 20px;
}

.buttonCopy {
  margin-left: 16px;
  margin-bottom: 6px;
}

.input1 {
  width: 570px
}

.input2 {
  width: 492px
}

.input3 {
  width: 50px
}

.input4 {
  width: 412px
}

.input5 {
  width: 50px
}

.textarea1 {
  width: 570px;
  height: 30px;
}

.tableAddCartCo2Img {
  display: inline-block;
  margin-left: -17px;
}

.detailImg {
  max-width: 500px;
  max-height: 500px;
}

.textarea2 {
  width: 690px;
  height: 80px;
}

.textarea3 {
  width: 425px;
  height: 89px;
}

.input6 {
  width: 425px;
}


/*widget*/

.ui-widget {
  font-family: Verdana, Arial, sans-serif;
  font-size: .9em;
}


/*datepicket*/

.ui-datepicker {
  /*no width*/
  padding: .2em .2em 0;
}

.ui-datepicker table {
  width: 100%;
  font-size: 0.8em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}


/***************************************** Button Email Product *****************************************/

.bodyEmail {
  overflow: hidden;
  width: 510px;
}

.contentEmail {
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-color: #E2E2E2;
  overflow: hidden;
}

.titleEmail {
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #E9EAF1;
  padding-top: 2px;
  padding-left: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

.titleEmail span {
  color: black;
  font-family: Tahoma;
  font-size: 9pt;
  font-weight: bold;
}

.titleEmail img {
  font-family: Tahoma;
  font-size: 8pt;
  float: right;
  padding-right: 5px;
}

.errorMsgEmail {
  text-align: center;
}

.errorMsgEmail p {
  overflow: hidden;
  color: red;
  font-family: Tahoma;
  font-size: 8pt;
  margin-top: 0px;
  margin-bottom: 17px;
}

.messageEmail {
  overflow: hidden;
  padding: 13px 9px 13px;
}

.textTopEmail {
  overflow: hidden;
}

.textTopEmail p {
  font-family: Tahoma;
  font-size: 8pt;
  float: left;
  margin-top: 0px;
  margin-bottom: 13px;
}

.addP {
  margin-bottom: 28px !important;
}

.inputsEmail {
  overflow: hidden;
  padding-left: 5px;
}

.inputRowEmail {}

.inputRowEmail p {
  font-family: Tahoma;
  font-size: 8pt;
  width: 125px;
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
}

.inputRowEmail input {
  width: 340px;
}

.textAreaEmailContent {
  overflow: hidden;
  padding-left: 5px;
  padding-bottom: 24px;
}

.textAreaEmailContent P {
  font-family: Tahoma;
  font-size: 8pt;
}

.textAreaEmail {
  width: 465px;
  height: 80px;
}

.captchaEmail {
  overflow: hidden;
  padding-left: 5px;
  padding-right: 10px;
}

.captchaEmail p {
  font-family: Tahoma;
  font-size: 8pt;
  width: 125px;
  height: 100px;
  float: left;
  margin-top: 56px;
}

.widgetCapcha {
  overflow: hidden;
  float: right;
}

.buttonSend {
  overflow: hidden;
  padding-right: 5px;
}

.linksEmail {
  overflow: hidden;
  font-family: Verdana;
  font-size: 8pt;
  color: gray;
  font-weight: normal;
  text-decoration: none;
  text-align: right;
}

.linksEmail span {
  padding-left: 3px;
  cursor: pointer;
}

.contentResultEmail {
  text-align: center;
}

.errorPrint {}

#closePag {
  cursor: pointer;
}

.clear {
  clear: both;
}

.redCheckout {
  font-family: Verdana;
  color: gray;
  font-weight: bold;
  margin-left: 10px;
  padding-top: 7px;
  padding-right: 7px;
  font-size: 10px !important;
}

.grayCheckout {
  font-family: Verdana;
  color: gray !important;
  font-weight: bold;
  font-size: 10px !important;
  display: block;
  margin-top: 0px !important;
  margin-left: 0px;
  padding-top: 7px;
  padding-left: 6px !important;
}

.onlygray {
  color: gray !important;
}

.onlyred {
  color: red !important;
}

.sectioncheckout1 {
  float: left;
}

.sectioncheckout2 {
  float: right;
}

.sectioncheckout2 p {
  color: black;
  width: 40px;
  font-size: 9px;
  margin-top: 10px;
  padding-left: 5px;
}

.security {
  overflow: hidden;
  text-align: center;
}

.security p {
  color: red;
}

.RowCheck2 {
  overflow: hidden;
}

.RowCheck2 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.col1check2 {}

.col2check2 {
  width: 540px !important;
}

.colorBlue {
  border: 1px solid #000080;
}

.minPadding {
  padding-top: 2px;
  padding-bottom: 2px;
}

.line {
  float: right !important;
  width: 600px !important;
}

.expand {
  width: 745px !important;
  padding-bottom: 20px;
}

.textCheck2 {
  padding: 5px;
  text-align: center;
}

.textAreaCheck2 {
  width: 720px;
  height: 80px;
}

.ajust1check2 {
  margin-top: 3px !important;
}

.ajust2Check2 {}

.RowCheck2 select,
.RowCheck2 input {
  color: black;
  font-family: Verdana;
  font-size: 8pt;
  font-weight: normal;
}

.col2check2 img {
  float: right;
  padding-right: 10px;
}

.ajust4Check {
  float: left;
}

.tableAddCartCo2 select.inputfld {
  width: 240px;
}

.special_products_box {
  width: 200px;
  height: 25px;
  background-color: #ED1C24;
  font-weight: bold;
  color: white;
  text-align: center;
  float: right;
  margin: 1px 15px;
}

.faux {
  display: none;
  visibility: hidden;
}